@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --tw-color-primary-50: 240 249 255;
  --tw-color-primary-100: 224 242 254;
  --tw-color-primary-200: 186 230 253;
  --tw-color-primary-300: 125 211 252;
  --tw-color-primary-400: 56 189 248;
  --tw-color-primary-500: 14 165 233;
  --tw-color-primary-600: 2 132 199;
  --tw-color-primary-700: 3 105 161;
  --tw-color-primary-800: 7 89 133;
  --tw-color-primary-900: 12 74 110;


    --tw-color-gray-50: 244 247 251;
    --tw-color-gray-100: 216 219 223;
    --tw-color-gray-200: 189 192 196;
    --tw-color-gray-300: 162 165 169;
    --tw-color-gray-400: 136 139 143;
    --tw-color-gray-500: 111 114 118;
    --tw-color-gray-600: 87 90 93;
    --tw-color-gray-700: 64 67 70;
    --tw-color-gray-800: 43 45 48;
    --tw-color-gray-900: 23 25 28;
  }