@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-color-secondary-50: 253 244 255;
  --tw-color-secondary-100: 250 232 255;
  --tw-color-secondary-200: 245 208 254;
  --tw-color-secondary-300: 240 171 252;
  --tw-color-secondary-400: 232 121 249;
  --tw-color-secondary-500: 217 70 239;
  --tw-color-secondary-600: 192 38 211;
  --tw-color-secondary-700: 162 28 175;
  --tw-color-secondary-800: 134 25 143;
  --tw-color-secondary-900: 112 26 117;

  /* --tw-color-gray-50: 244 247 251;
  --tw-color-gray-100: 216 219 223;
  --tw-color-gray-200: 189 192 196;
  --tw-color-gray-300: 162 165 169;
  --tw-color-gray-400: 136 139 143;
  --tw-color-gray-500: 111 114 118;
  --tw-color-gray-600: 87 90 93;
  --tw-color-gray-700: 64 67 70;
  --tw-color-gray-800: 43 45 48;
  --tw-color-gray-900: 23 25 28; */
}

@layer components {
  /* https://gist.github.com/coltenkrauter/34ca748828ffd351930aaf34aaef6c72 */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    @apply dark:text-slate-200;
    transition: background-color 5000000s ease-in-out 0s;
  }
  .checkbox {
    @apply h-4 w-4 rounded border-primary-300 text-primary-600 focus:ring-primary-500 dark:border-primary-700 dark:bg-primary-900 dark:text-primary-400 dark:focus:ring-primary-400 dark:focus:ring-offset-black/70;
  }
  .popover-panel {
    @apply rounded-md bg-white shadow-2xl ring-1 ring-black ring-opacity-5 focus:outline-none dark:bg-primary-800 dark:ring-white dark:ring-opacity-5;
  }
  .item-description {
    @apply -mt-4 text-sm text-primary-500 dark:text-primary-400;
  }
  /* default input style */
  .default-input {
    @apply block w-full rounded-lg border-none bg-primary-100 outline-none transition [-webkit-tap-highlight-color:transparent] dark:bg-primary-900 dark:text-primary-200 contrast:placeholder:text-primary-700  dark:contrast:bg-black dark:contrast:text-primary-50 dark:contrast:placeholder:text-primary-50/75;
  }
  /* default focus style */
  .default-focus {
    @apply focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 dark:ring-primary-400 dark:focus:ring-offset-primary-800;
  }
  .default-focus-visible {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary-500 focus-visible:ring-offset-2 dark:ring-primary-400 dark:focus-visible:ring-offset-primary-800;
  }
  .focus-ring {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary-500 focus-visible:ring-offset-2 dark:focus-visible:ring-offset-primary-600;
  }
  .contrast-ring {
    @apply outline-none ring-1 ring-primary-800 ring-offset-1 dark:ring-offset-primary-200;
  }
  .contrast-bg {
    @apply contrast:contrast-ring outline-none contrast:bg-amber-300 dark:contrast:!bg-amber-400 dark:contrast:text-black;
  }
  .contrast-text {
    @apply contrast:!text-primary-900 dark:contrast:!text-primary-900;
  }
}
